---
interface Props {
    number: number;
    title: string;
    difficulty: 'Easy' | 'Medium' | 'Hard';
    href: string;
}

const { number, title, difficulty, href } = Astro.props;
---

<li class="question-card">
    <a href={href}>
        <span class="number">{number}. </span>
        <span class="title">{title}</span>
        <span class=`difficulty ${difficulty.toLowerCase()}`>{difficulty}</span>
    </a>
</li>

<style>
    .question-card {
        border-radius: 10px;
        list-style: none;
        margin: 0.5rem 0;
        transition: background-color 0.2s ease;

        a {
            text-decoration: none;
            color: inherit;
            display: grid;
            grid-template-columns: 4rem 1fr 4rem;
            align-items: center;
            padding: 0.5rem;
            border-radius: 8px;
            transition: background-color 0.2s ease;
        }

    }

    .question-card:is(:hover, :focus-within) {
		background-color: #d46d7a32;
	}

    .title {
        text-align: center;
    }

    .easy {
        color: #2e7d32;
    }
    .medium {
        color: #f9a825;
    }
    .hard {
        color: #c62828;
    }
</style>